<app-tabs *ngIf="currentConditionsByZip().length">
    <app-tab title="{{ currentConditionAndZip.data.name }} ({{ currentConditionAndZip.zip }})"
             (onClose)="locationService.removeLocation(currentConditionAndZip.zip)"
             *ngFor="let currentConditionAndZip of currentConditionsByZip()"
             (click)="showForecast(currentConditionAndZip.zip)">
        <div class="well flex" style="margin-bottom: 0">
            <div>
                <h3>{{ currentConditionAndZip.data.name }} ({{ currentConditionAndZip.zip }})</h3>
                <h4>Current conditions: {{ currentConditionAndZip.data.weather[0].main }}</h4>
                <h4>Temperatures today:</h4>
                <p>
                    Current {{ currentConditionAndZip.data.main.temp | number:'.0-0' }}
                    - Max {{ currentConditionAndZip.data.main.temp_max | number:'.0-0' }}
                    - Min {{ currentConditionAndZip.data.main.temp_min | number:'.0-0' }}
                </p>
                <p>
                    <a [routerLink]="['/forecast', currentConditionAndZip.zip]">Show 5-day forecast
                        for {{ currentConditionAndZip.data.name }}</a>
                </p>
            </div>
            <div>
                <img [src]="weatherService.getWeatherIcon(currentConditionAndZip.data.weather[0].id)">
            </div>
        </div>
    </app-tab>
</app-tabs>
